body{
	background:#232323;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
.square{
	width:30%;
	background:purple;
	margin:1.66%;
	float:left;
	padding-bottom:30%;
	border-radius: 15%;
	transition: background 0.6s;
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s;

}
#container{
	max-width: 600px;
	margin: 20px auto;
}

h1{
	text-align: center;
	font-weight: normal;
	line-height: 1.1;
	color:white;
	background: steelblue;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
}

.selected{
	color: white;
	background: steelblue;
	
}

#message{
	display: inline-block;
	width: 30%;
	text-align: center;
}
#stripe{
	background:white;
	height:30px;
	text-align: center;
	color: black;

}


#colorDisplay{
	font-size: 2.0em;
}

button{
	border:none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color:steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	outline:none;

}

button:hover{
	color: white;
	background: steelblue;
}